.lead__caption {
  margin: 8px 0 0;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 1.50px;
  line-height: 14px;
  white-space: nowrap;
}